:root {
  --primary-blue: #1d4ed8;
  --secondary-blue: #bfdbfe;
  --primary-gray: #374151;
  --secondary-gray: #6b7280;
  --tertiary-gray: #d1d5db;
  --heading-color: #1f2937;
  --text-color: #374151;
}
