:root {
  --primary-blue: #1d4ed8;
  --secondary-blue: #bfdbfe;
  --accent-color: #d7a61d;
  --accent-color2: #4fd71d;
  --accent-color2: #4fd71d;
  --accent-color3: #ff8577;
  --primary-gray: #374151;
  --secondary-gray: #6b7280;
  --tertiary-gray: #d1d5db;
  --heading-color: #1f2937;
  --text-color: #374151;
  --margin-section: 140px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Noto Serif", serif;
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}

h1,
h2,
h3 {
  color: var(--heading-color);
}

h1 {
  font-size: 68px;
  margin: 0;
}

h2 {
  font-size: 52px;
}

h3 {
  font-size: 38px;
}

ul {
  margin: 0;
}

li {
  list-style: none;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}
hr {
  height: 1px;
  background-color: var(--secondary-gray);
  position: absolute;
  width: 100vw;
  left: 0;
  border-top: 6px solid var(--secondary-blue);
  box-sizing: content-box;
}

/* header  */

.nav {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  margin: 20px 0;
}

.nav__logo {
  font-size: 32px;
  font-weight: 600;
  color: var(--heading-color);
}

.nav__links {
  display: flex;
  gap: 6rem;
  font-size: 20px;
  align-items: center;
}

/* intro */

.intro {
  margin-top: var(--margin-section);
}

/* .intro__background {
  background-image: url(assets/Herculina\ promoción.avif);
  background-size: cover;
  height: 800px;
  margin-top: 20px;
  width: auto;
  height: 600px;
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
} */

.intro__container {
  display: flex;
  align-items: stretch;
  margin-top: 100px;
  height: 600px;
}

.intro__texto {
  display: flex;
  flex-direction: column;

  width: 720px;
  height: 480px;
  justify-content: center;
  align-items: stretch;
  padding: 20px;
}

.intro img {
  width: 720px;
  border: none;
}

.intro p {
  font-size: 32px;
  font-weight: 500;
}

/* filosofia */

.filosofia {
  margin-top: var(--margin-section);
}

.filosofia__heading--text {
  font-size: 32px;
  height: 150px;
  width: 1240px;

  margin-left: 100px;
  padding: 20px;
  border: ;
}

.filosofia__acordeon {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.filosofia__acordeon__item {
  border-bottom: 1px solid #ccc;
}

.filosofia__acordeon__item:last-child {
  border-bottom: none;
}

.filosofia__acordeon__header {
  background-color: #f5f5f5;
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
}
